* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
}

:root {
    --main-color: #C0392B;
    --main-color-2: #F4B400;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

nav {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vh;
}

button {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(35, 27, 27);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.home,
.menu,
.contacts {
    margin: 1%;
    flex-grow: 1;
}

.home p,
.menu p,
.contacts p {
    max-width: 60ch;
}

.contacts {
    height: 80vh;
}

.contacts p {
    margin-bottom: 10%;
}

img {
    max-width: 500px;
    border-radius: 5px;
}

.footer {
    width: 100%;
    padding: 5px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
}